[Unit]
Description=BMI-Notify Daemon
Wants=network-online.target
After=network-online.target

[Service]
User=bminotify
Group=bminotify

Type=simple
ExecStart=/usr/bin/python3 /opt/bminotify/bmi-notify.py
Restart=on-abort

[Install]
WantedBy=multi-user.target


